* 
header{
    margin: 0 auto;
    font-size: 20px;
    height: 200px;
    width: 260px;
    background-color: lightslategray;
    border: 2px solid yellow;
}

.underscores{
    margin: 0 auto;
    font-size: 20px;
    background-color: lightblue;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 2px solid black;
}

.youCorrect{
    margin: 0 auto;
    font-size: 20px;
    background-color: lightblue;
    text-align: center;
    height: 50px;
    width: 100px;
    border: 2px solid black;
}

.youWrong{
    margin: 0 auto;
    font-size: 20px;
    background-color: lightblue;
    text-align: center;
    height: 50px;
    width: 100px;
    border: 2px solid black;
}